/*
Globals
 */
/* font english */
@font-face {
  font-family: 'mfm-regular';
  src: url('../font/mfm-display-regular.eot');
  src: url('../font/mfm-display-regular.eot?#iefix') format('embedded-opentype'),
    url('../font/mfm-display-regular.woff2') format('woff2'),
    url('../font/mfm-display-regular.woff') format('woff'),
    url('../font/mfm-display-regular.ttf') format('truetype'),
    url('../font/mfm-display-regular.svg#notosansdisplay-regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mfm-bold';
  src: url('../font/mfm-display-bold.eot');
  src: url('../font/mfm-display-bold.eot?#iefix') format('embedded-opentype'),
    url('../font/mfm-display-bold.woff2') format('woff2'),
    url('../font/mfm-display-bold.woff') format('woff'),
    url('../font/mfm-display-bold.ttf') format('truetype'),
    url('../font/mfm-display-bold.svg#mfm-display-bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* end font english */
/* font arabic */
@font-face {
  font-family: 'mfm-arabic-regular';
  src: url('../font/mfm-arabic-regular.eot');
  src: url('../font/mfm-arabic-regular.eot?#iefix') format('embedded-opentype'),
    url('../font/mfm-arabic-regular.woff2') format('woff2'),
    url('../font/mfm-arabic-regular.woff') format('woff'),
    url('../font/mfm-arabic-regular.ttf') format('truetype'),
    url('../font/mfm-arabic-regular.svg#notosansarabic-regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'mfm-arabic-bold';
  src: url('../font/mfm-arabic-bold.eot');
  src: url('../font/mfm-arabic-bold.eot?#iefix') format('embedded-opentype'),
    url('../font/mfm-arabic-bold.woff2') format('woff2'),
    url('../font/mfm-arabic-bold.woff') format('woff'),
    url('../font/mfm-arabic-bold.ttf') format('truetype'),
    url('../font/mfm-arabic-bold.svg#notosansarabic-bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* font arabic */

.bg-mfm {
  /* background-image: url(../../assets/img/bg.jpeg); */
  position: absolute;
  z-index: -99999;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(0.9rem);
  -webkit-filter: blur(0.9rem);
}
.mfm-logo {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
/*
 * Base structure
 */
body {
  font-family: 'mfm-regular';
}

.cover-container {
  max-width: 60em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff
}