<main class="px-3">
  <img
    src="assets/img/mfm-logo.png"
    class="img-fluid mfm-logo"
    alt=""
    title="Mind Film Makers"
  />
  <p class="lead">
    Mind Film Makers Academy is committed to delivering exceptional training
    courses in the realms of film, media, and performing arts within Egypt. We
    firmly uphold the significance of a practical, experiential approach, in
    conjunction with industry best practices. Our esteemed faculty, consisting
    of accomplished veterans hailing from Egypt's independent film and
    television industry, guarantees students unparalleled guidance and
    instruction from professionals with extensive real-world expertise.
  </p>
</main>
<!-- <router-outlet></router-outlet> -->
